@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: rgb(24, 39, 39);
    color: white;
    font-family: "Montserrat";
    font-size: large;
    text-align: center;
}

.wrapper {
    border: 5px solid rgb(24, 39, 39);
    max-width: 850px;
    margin: 1.5em auto;
    background-color: rgb(24, 39, 39);
    box-shadow: 5px 5px 5px rgb(10, 12, 11);
    border-radius: .6em;
}

h1 {
    font-size: 3rem;
    margin: .3em 0 0;
    text-shadow: 3px 3px rgb(22, 22, 22);
}

.guessed-word {  
    font-size: 3rem;
    margin-top: -.2em;
}

.kung-fu-uni {
    color: rgb(155, 179, 175);
    font-size: 1.2rem;
    text-shadow: none;
    cursor: pointer;
}

.buttons-container {
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: .6em;
    font-size: 2rem;
}

button {
    background-color: rgba(0, 0, 0, 0.287);
    border: .1em solid rgb(155, 179, 175);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5em .8em;
    border-radius: .4em;
    margin: .2em .2em;
}

.hangman-picture {
    margin-top: .6em;
}

.wins {
    background-color: rgba(0, 128, 0, 0.568);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
    border-radius: .4em;
}

.defeats {
    background-color: rgba(255, 0, 0, 0.568);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20%;
    border-radius: .4em;
}
