
body {
    background:rgb(207, 202, 202);
    font-family: 'Itim', cursive;
    color: rgb(13, 13, 126);
    height:100%;
    text-align:center;
    font-size:18px;
  }
  .wrappper{
    width:100%;
    margin:0 auto;
  }

  h1, h2 {
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

  #leftlives{
    font-size:1.6em;
    text-align:center;
    display:block;
  }

  button{
    border-radius: 5px;
    background:rgb(167, 167, 231);
    color:black;
    border: solid 1px rgb(167, 167, 231);
    text-decoration:none;
    font-size:0.8em;
    padding:10px 8px;
    width:100px;
    margin: 10px;
    outline: none;
    
       /* &:hover{
        @include transition;
        background: #ffffff;;
        border: solid 1px #ffffff;
        color:balck;
      } */
  }

@media (max-width: 767px) {
    #character {
    padding:0 0 0 15px;
  }
    }
  
    @media (max-width: 480px) {
    #character {
    padding:0 0 0 25px;
  }
    }

